{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="contact-form-container">
  <div class="right-contact-template">
    <div class="form-box-template">
      <h2>Forgot Password</h2>
      <p>Enter your email to receive a password reset link.</p>
      <form method="POST" action="{% url 'auth_app:forgot_password' %}">
        {% csrf_token %}
        {{ form.email }}

        {% if messages %}
          <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        <button class="cbtn-template" type="submit">Send Reset Link</button>
        <div class="links">
          <p>Remembered your password? <a href="{% url 'auth_app:login' %}">Login</a></p>
          <p>Don't have an account? <a href="{% url 'auth_app:register' %}">Sign up</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
