{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="contact-form-container">
  <div class="right-contact-template">
    <div class="form-box-template">
      <h2>Set New Password</h2>
      <p>Enter your new password below:</p>
      <form method="POST">
        {% csrf_token %}
        {{ form.new_password1 }}
        {{ form.new_password2 }}

        {% if messages %}
          <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        <button class="cbtn-template" type="submit">Reset Password</button>
      </form>
    </div>
  </div>
</div>
