{% extends "base.html" %}
{% load static %}

{% block title %} {{ title|default:"Pawfect Match" }} {% endblock %}

{% block content %}

{% include 'hero.html' %}

{% for section in sections %}
<section class="{% if section.reverse %}about-light-rev{% else %}about-light{% endif %}">
  <div class="{% if section.reverse %}light-contain-rev{% else %}light-contain{% endif %}">
    <img src="{% static section.image %}" alt="{{ section.alt }}" />
    <div class="{% if section.reverse %}light-txt-rev{% else %}light-txt{% endif %}">
      <h2>{{ section.title }}</h2>
      {% for paragraph in section.paragraphs %}
        <p>{{ paragraph }}</p>
      {% endfor %}
    </div>
  </div>
</section>




{% endfor %}

<!-- Dog Fact Section -->
{% include 'dog-fact.html' %}


{% include 'form.html' %}

{% endblock %}

