{% extends "base.html" %}
{% load static %}

{% block title %} {{ title|default:"Pawfect Match" }} {% endblock %}

{% block content %}

{% include 'hero.html' %}

<!-- Contact container start -->
<div class="contact">

  <!-- Left side with contact image -->
  <div class="left-contact">
    <div class="left-image">
      <img src="{% static 'images/contact-image.png' %}" alt="Contact image" class="contact-image" />
    </div>
  </div>
  <!-- Contact image end -->

  <!-- Right side with contact form -->
  <div class="right-contact">
    <div class="form-box">
      <h2>Get In Touch</h2>
      <p>We’re here to help! Contact us anytime with questions or to begin your journey toward finding the perfect pet and a loving new friend.</p>

      <form id="contactform" method="POST" action="">
        {% csrf_token %}
        <div class="name-row">
          {{ form.first_name.label_tag }}
          {{ form.first_name }}
          {{ form.surname.label_tag }}
          {{ form.surname }}
        </div>

        {{ form.email.label_tag }}
        {{ form.email }}

        {{ form.message.label_tag }}
        {{ form.message }}

        <label class="checkbox-wrapper">
          {{ form.terms }}
          <span>I agree to the Terms and Conditions</span>
        </label>

        <!-- Display success messages -->
        {% if messages %}
          <ul class="flashes">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        <button class="cbtn" type="submit">Send</button>
      </form>
    </div>
  </div>
</div>
<!-- Contact container end -->

{% endblock %}
